Proyecto_Fase2/Paqueteria1_1/App_WebReferences/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sueldo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sucursal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarEmpleadoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrase単a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tarjeta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reservarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tarjeta" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="contrase単a" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reservarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertarSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="noEmpleados" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="comision" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sede" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarSucursalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="impuesto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarCategoriaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrase単a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarClienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarEmpleadp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrase単a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarEmpleadpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarEmpleadpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDeptoAsigSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codAsigSucursal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDeptoAsigSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDeptoAsigSucursalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcodDeptoNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcodDeptoNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getcodDeptoNombreResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTipocodEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empleado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTipocodEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTipocodEmpleadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAsigSucursalCodEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="empleado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAsigSucursalCodEmpleadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getAsigSucursalCodEmpleadoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCategoria">
        <s:complexType />
      </s:element>
      <s:element name="getCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCategoriaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSucursal">
        <s:complexType />
      </s:element>
      <s:element name="getSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSucursalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSede">
        <s:complexType />
      </s:element>
      <s:element name="getSedeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSedeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getImpuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getImpuestoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getImpuestoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getComision">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getComisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getComisionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarImpuesto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="impuesto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarImpuestoResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertarComision">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sucursal" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="comision" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarComisionResponse">
        <s:complexType />
      </s:element>
      <s:element name="getcodPaquetes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="casilla" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcodPaquetesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getcodPaquetesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcodLote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="paquete" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcodLoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getcodLoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcodEstadoLote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lote" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcodEstadoLoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getcodEstadoLoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcodSucursalAsig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lote" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getcodSucursalAsigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getcodSucursalAsigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEstadoHistorial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="historial" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEstadoHistorialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEstadoHistorialResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSucursalEstado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codSucursal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSucursalEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSucursalEstadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarPaquetecasillaInter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="casilla" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarPaquetecasillaInterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarPaquetecasillaInterResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarEstadoPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paquete" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarEstadoPaqueteResponse">
        <s:complexType />
      </s:element>
      <s:element name="cargarCLIENTEcasilla">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="casilla" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarCLIENTEcasillaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarCLIENTEcasillaResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarCLIENTEAUTOcasilla">
        <s:complexType />
      </s:element>
      <s:element name="cargarCLIENTEAUTOcasillaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarCLIENTEAUTOcasillaResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autorizarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoCliente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="casilla" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autorizarClienteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="insertarEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:insertarEmpleado" />
  </wsdl:message>
  <wsdl:message name="insertarEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:insertarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="insertarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:insertarCliente" />
  </wsdl:message>
  <wsdl:message name="insertarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:insertarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="reservarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:reservarCliente" />
  </wsdl:message>
  <wsdl:message name="reservarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:reservarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="insertarSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:insertarSucursal" />
  </wsdl:message>
  <wsdl:message name="insertarSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:insertarSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="insertarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarCategoria" />
  </wsdl:message>
  <wsdl:message name="insertarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarCliente" />
  </wsdl:message>
  <wsdl:message name="VerificarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarEmpleadpSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarEmpleadp" />
  </wsdl:message>
  <wsdl:message name="VerificarEmpleadpSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarEmpleadpResponse" />
  </wsdl:message>
  <wsdl:message name="getDeptoAsigSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:getDeptoAsigSucursal" />
  </wsdl:message>
  <wsdl:message name="getDeptoAsigSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:getDeptoAsigSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="getcodDeptoNombreSoapIn">
    <wsdl:part name="parameters" element="tns:getcodDeptoNombre" />
  </wsdl:message>
  <wsdl:message name="getcodDeptoNombreSoapOut">
    <wsdl:part name="parameters" element="tns:getcodDeptoNombreResponse" />
  </wsdl:message>
  <wsdl:message name="getTipocodEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:getTipocodEmpleado" />
  </wsdl:message>
  <wsdl:message name="getTipocodEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:getTipocodEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="getAsigSucursalCodEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:getAsigSucursalCodEmpleado" />
  </wsdl:message>
  <wsdl:message name="getAsigSucursalCodEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:getAsigSucursalCodEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="getCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:getCategoria" />
  </wsdl:message>
  <wsdl:message name="getCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:getCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="getSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:getSucursal" />
  </wsdl:message>
  <wsdl:message name="getSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:getSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="getSedeSoapIn">
    <wsdl:part name="parameters" element="tns:getSede" />
  </wsdl:message>
  <wsdl:message name="getSedeSoapOut">
    <wsdl:part name="parameters" element="tns:getSedeResponse" />
  </wsdl:message>
  <wsdl:message name="getImpuestoSoapIn">
    <wsdl:part name="parameters" element="tns:getImpuesto" />
  </wsdl:message>
  <wsdl:message name="getImpuestoSoapOut">
    <wsdl:part name="parameters" element="tns:getImpuestoResponse" />
  </wsdl:message>
  <wsdl:message name="getComisionSoapIn">
    <wsdl:part name="parameters" element="tns:getComision" />
  </wsdl:message>
  <wsdl:message name="getComisionSoapOut">
    <wsdl:part name="parameters" element="tns:getComisionResponse" />
  </wsdl:message>
  <wsdl:message name="insertarImpuestoSoapIn">
    <wsdl:part name="parameters" element="tns:insertarImpuesto" />
  </wsdl:message>
  <wsdl:message name="insertarImpuestoSoapOut">
    <wsdl:part name="parameters" element="tns:insertarImpuestoResponse" />
  </wsdl:message>
  <wsdl:message name="insertarComisionSoapIn">
    <wsdl:part name="parameters" element="tns:insertarComision" />
  </wsdl:message>
  <wsdl:message name="insertarComisionSoapOut">
    <wsdl:part name="parameters" element="tns:insertarComisionResponse" />
  </wsdl:message>
  <wsdl:message name="getcodPaquetesSoapIn">
    <wsdl:part name="parameters" element="tns:getcodPaquetes" />
  </wsdl:message>
  <wsdl:message name="getcodPaquetesSoapOut">
    <wsdl:part name="parameters" element="tns:getcodPaquetesResponse" />
  </wsdl:message>
  <wsdl:message name="getcodLoteSoapIn">
    <wsdl:part name="parameters" element="tns:getcodLote" />
  </wsdl:message>
  <wsdl:message name="getcodLoteSoapOut">
    <wsdl:part name="parameters" element="tns:getcodLoteResponse" />
  </wsdl:message>
  <wsdl:message name="getcodEstadoLoteSoapIn">
    <wsdl:part name="parameters" element="tns:getcodEstadoLote" />
  </wsdl:message>
  <wsdl:message name="getcodEstadoLoteSoapOut">
    <wsdl:part name="parameters" element="tns:getcodEstadoLoteResponse" />
  </wsdl:message>
  <wsdl:message name="getcodSucursalAsigSoapIn">
    <wsdl:part name="parameters" element="tns:getcodSucursalAsig" />
  </wsdl:message>
  <wsdl:message name="getcodSucursalAsigSoapOut">
    <wsdl:part name="parameters" element="tns:getcodSucursalAsigResponse" />
  </wsdl:message>
  <wsdl:message name="getEstadoHistorialSoapIn">
    <wsdl:part name="parameters" element="tns:getEstadoHistorial" />
  </wsdl:message>
  <wsdl:message name="getEstadoHistorialSoapOut">
    <wsdl:part name="parameters" element="tns:getEstadoHistorialResponse" />
  </wsdl:message>
  <wsdl:message name="getSucursalEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:getSucursalEstado" />
  </wsdl:message>
  <wsdl:message name="getSucursalEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:getSucursalEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="cargarPaquetecasillaInterSoapIn">
    <wsdl:part name="parameters" element="tns:cargarPaquetecasillaInter" />
  </wsdl:message>
  <wsdl:message name="cargarPaquetecasillaInterSoapOut">
    <wsdl:part name="parameters" element="tns:cargarPaquetecasillaInterResponse" />
  </wsdl:message>
  <wsdl:message name="cargarEstadoPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:cargarEstadoPaquete" />
  </wsdl:message>
  <wsdl:message name="cargarEstadoPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:cargarEstadoPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="cargarCLIENTEcasillaSoapIn">
    <wsdl:part name="parameters" element="tns:cargarCLIENTEcasilla" />
  </wsdl:message>
  <wsdl:message name="cargarCLIENTEcasillaSoapOut">
    <wsdl:part name="parameters" element="tns:cargarCLIENTEcasillaResponse" />
  </wsdl:message>
  <wsdl:message name="cargarCLIENTEAUTOcasillaSoapIn">
    <wsdl:part name="parameters" element="tns:cargarCLIENTEAUTOcasilla" />
  </wsdl:message>
  <wsdl:message name="cargarCLIENTEAUTOcasillaSoapOut">
    <wsdl:part name="parameters" element="tns:cargarCLIENTEAUTOcasillaResponse" />
  </wsdl:message>
  <wsdl:message name="autorizarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:autorizarCliente" />
  </wsdl:message>
  <wsdl:message name="autorizarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:autorizarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarEmpleado">
      <wsdl:input message="tns:insertarEmpleadoSoapIn" />
      <wsdl:output message="tns:insertarEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input message="tns:insertarUsuarioSoapIn" />
      <wsdl:output message="tns:insertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarCliente">
      <wsdl:input message="tns:insertarClienteSoapIn" />
      <wsdl:output message="tns:insertarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reservarCliente">
      <wsdl:input message="tns:reservarClienteSoapIn" />
      <wsdl:output message="tns:reservarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarSucursal">
      <wsdl:input message="tns:insertarSucursalSoapIn" />
      <wsdl:output message="tns:insertarSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarCategoria">
      <wsdl:input message="tns:insertarCategoriaSoapIn" />
      <wsdl:output message="tns:insertarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarCliente">
      <wsdl:input message="tns:VerificarClienteSoapIn" />
      <wsdl:output message="tns:VerificarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarEmpleadp">
      <wsdl:input message="tns:VerificarEmpleadpSoapIn" />
      <wsdl:output message="tns:VerificarEmpleadpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDeptoAsigSucursal">
      <wsdl:input message="tns:getDeptoAsigSucursalSoapIn" />
      <wsdl:output message="tns:getDeptoAsigSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getcodDeptoNombre">
      <wsdl:input message="tns:getcodDeptoNombreSoapIn" />
      <wsdl:output message="tns:getcodDeptoNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTipocodEmpleado">
      <wsdl:input message="tns:getTipocodEmpleadoSoapIn" />
      <wsdl:output message="tns:getTipocodEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAsigSucursalCodEmpleado">
      <wsdl:input message="tns:getAsigSucursalCodEmpleadoSoapIn" />
      <wsdl:output message="tns:getAsigSucursalCodEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCategoria">
      <wsdl:input message="tns:getCategoriaSoapIn" />
      <wsdl:output message="tns:getCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSucursal">
      <wsdl:input message="tns:getSucursalSoapIn" />
      <wsdl:output message="tns:getSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSede">
      <wsdl:input message="tns:getSedeSoapIn" />
      <wsdl:output message="tns:getSedeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getImpuesto">
      <wsdl:input message="tns:getImpuestoSoapIn" />
      <wsdl:output message="tns:getImpuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getComision">
      <wsdl:input message="tns:getComisionSoapIn" />
      <wsdl:output message="tns:getComisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarImpuesto">
      <wsdl:input message="tns:insertarImpuestoSoapIn" />
      <wsdl:output message="tns:insertarImpuestoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarComision">
      <wsdl:input message="tns:insertarComisionSoapIn" />
      <wsdl:output message="tns:insertarComisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getcodPaquetes">
      <wsdl:input message="tns:getcodPaquetesSoapIn" />
      <wsdl:output message="tns:getcodPaquetesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getcodLote">
      <wsdl:input message="tns:getcodLoteSoapIn" />
      <wsdl:output message="tns:getcodLoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getcodEstadoLote">
      <wsdl:input message="tns:getcodEstadoLoteSoapIn" />
      <wsdl:output message="tns:getcodEstadoLoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getcodSucursalAsig">
      <wsdl:input message="tns:getcodSucursalAsigSoapIn" />
      <wsdl:output message="tns:getcodSucursalAsigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEstadoHistorial">
      <wsdl:input message="tns:getEstadoHistorialSoapIn" />
      <wsdl:output message="tns:getEstadoHistorialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSucursalEstado">
      <wsdl:input message="tns:getSucursalEstadoSoapIn" />
      <wsdl:output message="tns:getSucursalEstadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarPaquetecasillaInter">
      <wsdl:input message="tns:cargarPaquetecasillaInterSoapIn" />
      <wsdl:output message="tns:cargarPaquetecasillaInterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarEstadoPaquete">
      <wsdl:input message="tns:cargarEstadoPaqueteSoapIn" />
      <wsdl:output message="tns:cargarEstadoPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarCLIENTEcasilla">
      <wsdl:input message="tns:cargarCLIENTEcasillaSoapIn" />
      <wsdl:output message="tns:cargarCLIENTEcasillaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarCLIENTEAUTOcasilla">
      <wsdl:input message="tns:cargarCLIENTEAUTOcasillaSoapIn" />
      <wsdl:output message="tns:cargarCLIENTEAUTOcasillaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="autorizarCliente">
      <wsdl:input message="tns:autorizarClienteSoapIn" />
      <wsdl:output message="tns:autorizarClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarEmpleado">
      <soap:operation soapAction="http://tempuri.org/insertarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCliente">
      <soap:operation soapAction="http://tempuri.org/insertarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservarCliente">
      <soap:operation soapAction="http://tempuri.org/reservarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarSucursal">
      <soap:operation soapAction="http://tempuri.org/insertarSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCategoria">
      <soap:operation soapAction="http://tempuri.org/insertarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCliente">
      <soap:operation soapAction="http://tempuri.org/VerificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarEmpleadp">
      <soap:operation soapAction="http://tempuri.org/VerificarEmpleadp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeptoAsigSucursal">
      <soap:operation soapAction="http://tempuri.org/getDeptoAsigSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodDeptoNombre">
      <soap:operation soapAction="http://tempuri.org/getcodDeptoNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipocodEmpleado">
      <soap:operation soapAction="http://tempuri.org/getTipocodEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAsigSucursalCodEmpleado">
      <soap:operation soapAction="http://tempuri.org/getAsigSucursalCodEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategoria">
      <soap:operation soapAction="http://tempuri.org/getCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSucursal">
      <soap:operation soapAction="http://tempuri.org/getSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSede">
      <soap:operation soapAction="http://tempuri.org/getSede" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImpuesto">
      <soap:operation soapAction="http://tempuri.org/getImpuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComision">
      <soap:operation soapAction="http://tempuri.org/getComision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarImpuesto">
      <soap:operation soapAction="http://tempuri.org/insertarImpuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarComision">
      <soap:operation soapAction="http://tempuri.org/insertarComision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodPaquetes">
      <soap:operation soapAction="http://tempuri.org/getcodPaquetes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodLote">
      <soap:operation soapAction="http://tempuri.org/getcodLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodEstadoLote">
      <soap:operation soapAction="http://tempuri.org/getcodEstadoLote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodSucursalAsig">
      <soap:operation soapAction="http://tempuri.org/getcodSucursalAsig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadoHistorial">
      <soap:operation soapAction="http://tempuri.org/getEstadoHistorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSucursalEstado">
      <soap:operation soapAction="http://tempuri.org/getSucursalEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarPaquetecasillaInter">
      <soap:operation soapAction="http://tempuri.org/cargarPaquetecasillaInter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarEstadoPaquete">
      <soap:operation soapAction="http://tempuri.org/cargarEstadoPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCLIENTEcasilla">
      <soap:operation soapAction="http://tempuri.org/cargarCLIENTEcasilla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCLIENTEAUTOcasilla">
      <soap:operation soapAction="http://tempuri.org/cargarCLIENTEAUTOcasilla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizarCliente">
      <soap:operation soapAction="http://tempuri.org/autorizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarEmpleado">
      <soap12:operation soapAction="http://tempuri.org/insertarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCliente">
      <soap12:operation soapAction="http://tempuri.org/insertarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reservarCliente">
      <soap12:operation soapAction="http://tempuri.org/reservarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarSucursal">
      <soap12:operation soapAction="http://tempuri.org/insertarSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCategoria">
      <soap12:operation soapAction="http://tempuri.org/insertarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCliente">
      <soap12:operation soapAction="http://tempuri.org/VerificarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarEmpleadp">
      <soap12:operation soapAction="http://tempuri.org/VerificarEmpleadp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDeptoAsigSucursal">
      <soap12:operation soapAction="http://tempuri.org/getDeptoAsigSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodDeptoNombre">
      <soap12:operation soapAction="http://tempuri.org/getcodDeptoNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipocodEmpleado">
      <soap12:operation soapAction="http://tempuri.org/getTipocodEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAsigSucursalCodEmpleado">
      <soap12:operation soapAction="http://tempuri.org/getAsigSucursalCodEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategoria">
      <soap12:operation soapAction="http://tempuri.org/getCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSucursal">
      <soap12:operation soapAction="http://tempuri.org/getSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSede">
      <soap12:operation soapAction="http://tempuri.org/getSede" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImpuesto">
      <soap12:operation soapAction="http://tempuri.org/getImpuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComision">
      <soap12:operation soapAction="http://tempuri.org/getComision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarImpuesto">
      <soap12:operation soapAction="http://tempuri.org/insertarImpuesto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarComision">
      <soap12:operation soapAction="http://tempuri.org/insertarComision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodPaquetes">
      <soap12:operation soapAction="http://tempuri.org/getcodPaquetes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodLote">
      <soap12:operation soapAction="http://tempuri.org/getcodLote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodEstadoLote">
      <soap12:operation soapAction="http://tempuri.org/getcodEstadoLote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcodSucursalAsig">
      <soap12:operation soapAction="http://tempuri.org/getcodSucursalAsig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstadoHistorial">
      <soap12:operation soapAction="http://tempuri.org/getEstadoHistorial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSucursalEstado">
      <soap12:operation soapAction="http://tempuri.org/getSucursalEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarPaquetecasillaInter">
      <soap12:operation soapAction="http://tempuri.org/cargarPaquetecasillaInter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarEstadoPaquete">
      <soap12:operation soapAction="http://tempuri.org/cargarEstadoPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCLIENTEcasilla">
      <soap12:operation soapAction="http://tempuri.org/cargarCLIENTEcasilla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCLIENTEAUTOcasilla">
      <soap12:operation soapAction="http://tempuri.org/cargarCLIENTEAUTOcasilla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizarCliente">
      <soap12:operation soapAction="http://tempuri.org/autorizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:51021/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:51021/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>